decorator==5.2.1
imageio==2.37.0
imageio-ffmpeg==0.6.0
moviepy==2.1.2
numpy==2.2.6
pillow==10.4.0
proglog==0.1.12
pyaes==1.6.1
pyasn1==0.6.1
python-dotenv==1.1.0
rsa==4.9.1
Telethon==1.40.0
tqdm==4.67.1
